Nlayer/Presentacion.AgenteDeServicios/Service References/Proxies.ServicioProviders/ServicioProviders3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1000/ServicioProviders.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="providerUserKey" type="q1:guid" />
        <xs:element minOccurs="0" name="aplicacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preguntaPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="respuestaPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ultimaActividad" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ultimaSesion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ultimoCambioDePassword" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cantidadIntentosFaillidosPassword" type="xs:int" />
        <xs:element minOccurs="0" name="inicioIntentosFallidosPassword" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cantidadIntentosFallidosPregunta" type="xs:int" />
        <xs:element minOccurs="0" name="inicioIntentosFallidosPregunta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="estaAprobadao" type="xs:boolean" />
        <xs:element minOccurs="0" name="estaBloqueado" type="xs:boolean" />
        <xs:element minOccurs="0" name="ultimoBloqueo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="registrado" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLoginPorEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplicacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLoginPorEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerLoginPorEmailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>