Nlayer/Presentacion.AgenteDeServicios/Service References/Proxies.ServicioProviders/ServicioProviders.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioProviders" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1000/ServicioProviders.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1000/ServicioProviders.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sci.Nlayer.ServiciosDistribuidos.Nucleo.ManejoDeErrores" />
      <xsd:import schemaLocation="http://localhost:1000/ServicioProviders.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1000/ServicioProviders.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioProviders_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IServicioProviders_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProviders_Test_ErrorServicioFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Sci.Nlayer.ServiciosDistribuidos.Nucleo.ManejoDeErrores" name="detail" element="q1:ErrorServicio" />
  </wsdl:message>
  <wsdl:message name="IServicioProviders_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioProviders_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProviders_RegistrarUsuario_ErrorServicioFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Sci.Nlayer.ServiciosDistribuidos.Nucleo.ManejoDeErrores" name="detail" element="q2:ErrorServicio" />
  </wsdl:message>
  <wsdl:message name="IServicioProviders_ObtenerLoginPorEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLoginPorEmail" />
  </wsdl:message>
  <wsdl:message name="IServicioProviders_ObtenerLoginPorEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLoginPorEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProviders_ObtenerLoginPorEmail_ErrorServicioFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Sci.Nlayer.ServiciosDistribuidos.Nucleo.ManejoDeErrores" name="detail" element="q3:ErrorServicio" />
  </wsdl:message>
  <wsdl:portType name="IServicioProviders">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProviders/Test" message="tns:IServicioProviders_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProviders/TestResponse" message="tns:IServicioProviders_Test_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicioProviders/TestErrorServicioFault" name="ErrorServicioFault" message="tns:IServicioProviders_Test_ErrorServicioFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProviders/RegistrarUsuario" message="tns:IServicioProviders_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProviders/RegistrarUsuarioResponse" message="tns:IServicioProviders_RegistrarUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicioProviders/RegistrarUsuarioErrorServicioFault" name="ErrorServicioFault" message="tns:IServicioProviders_RegistrarUsuario_ErrorServicioFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerLoginPorEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProviders/ObtenerLoginPorEmail" message="tns:IServicioProviders_ObtenerLoginPorEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProviders/ObtenerLoginPorEmailResponse" message="tns:IServicioProviders_ObtenerLoginPorEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicioProviders/ObtenerLoginPorEmailErrorServicioFault" name="ErrorServicioFault" message="tns:IServicioProviders_ObtenerLoginPorEmail_ErrorServicioFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicioProvidersBasic" type="tns:IServicioProviders">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IServicioProviders/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorServicioFault">
        <soap:fault use="literal" name="ErrorServicioFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioProviders/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorServicioFault">
        <soap:fault use="literal" name="ErrorServicioFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLoginPorEmail">
      <soap:operation soapAction="http://tempuri.org/IServicioProviders/ObtenerLoginPorEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorServicioFault">
        <soap:fault use="literal" name="ErrorServicioFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProviders">
    <wsdl:port name="servicioProvidersBasic" binding="tns:servicioProvidersBasic">
      <soap:address location="http://localhost:1000/ServicioProviders.svc/Basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>